<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <img class="logo" src="./assets/images/services/logo.png">
        </div>
    </div>
    <div class="row" style="margin-bottom: 50px;">
        <div class="col-12 text-center">
            <img class="game_type mr-4" src="./assets/images/services/oldschool2x.png">
            <img class="game_type" src="./assets/images/services/runescape-3-png-3.png">
        </div>
        <!-- <div class="col-6 text-center">
        </div> -->
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <img class="types" src="./assets/images/services/types_of_services.png">
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <img class="skills" src="./assets/images/services/skills.png">
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center mt-4">
            <a href="https://discord.gg/gRZDsGm3HJ" target="_blank">
                <img class="discord-logo" src="./assets/images/discord2.png">
            </a>
        </div>
    </div>
</div>