<div class="buy-page">
    <div class="main-container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 landing-title">
                    Buy <span class="color-gold">{{isOsrs ? 'OSRS': 'RS3'}} Gold</span>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12 landing-description">
                    <span class="color-gold">Save your time</span>, get everything that you need
                </div>
            </div>
            <div class="transparent-container">
                <div class="row img-preview-container">
                    <div class="col-12">
                        <div class="d-flex">
                            <div class="img-preview-bg" [class.selected-game]="isOsrs" (click)="redirect('oldschool')">
                                <img class="img-preview" src="./assets/images/branding/osrs-preview.png" />
                            </div>
                            <div class="img-preview-bg" [class.selected-game]="!isOsrs"
                                (click)="redirect('runescape3')">
                                <img class="img-preview" style="padding: 35px;"
                                    src="./assets/images/branding/rs3-preview.png" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-6">
                        <div class="content-wrapper-buy">
                            <div class="row mt-3">
                                <div class="col-12 upper-text">
                                    WE’RE CURRENTLY SELLING {{isOsrs ? 'OSRS': 'RS3'}} GOLD FOR
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12 mid-text">
                                    <span class="price">
                                        {{getCurrencySymbol(currency)}}{{getCurrencyConverted(price) | number}}/M
                                    </span>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-12 box-title">
                                    Amount You’d Wish To Buy:
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-xl-12 col-md-12">
                                    <div class="box-buy">
                                        <input matInput placeholder="Amount to order" [(ngModel)]="amount"
                                            (ngModelChange)="changed('amount', $event)" type="number">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12 box-title">
                                    Enter Character Name:
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="box-buy">
                                        <input matInput placeholder="RSN" [(ngModel)]="rsn" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <app-payment-methods [currentPaymentMethod]="selected" (onSelect)="onSelect($event)">
                        </app-payment-methods>

                        <div class="d-flex box-title">
                            <div class="w-50 text-left pl-4">
                                Payment Gateway:
                            </div>
                            <div class="w-50 text-right">
                                {{ selected }}
                            </div>
                        </div>
                        <div class="d-flex box-title">
                            <div class="w-50 text-left pl-4">
                                Character Name:
                            </div>
                            <div class="w-50 text-right">
                                {{ rsn }}
                            </div>
                        </div>
                        <div class="d-flex box-title">
                            <div class="w-50 text-left pl-4">
                                Sub Total:
                            </div>
                            <div class="w-50 text-right">
                                {{ getCurrencySymbol(currency)}}{{getCurrencyConverted(subtotal) | number}}
                            </div>
                        </div>
                        <div class="d-flex box-title">
                            <div class="w-50 text-left pl-4">
                                Fees (+{{feesPercentage}}%):
                            </div>
                            <div class="w-50 text-right">
                                {{ getCurrencySymbol(currency)}}{{getCurrencyConverted(fees) | number}}
                            </div>
                        </div>
                        <div class="d-flex box-title">
                            <div class="w-50 text-left pl-4">
                                Total Price:
                            </div>
                            <div class="w-50 text-right">
                                {{ getCurrencySymbol(currency)}}{{getCurrencyConverted(totalInvoice) | number}}
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-12 pl-4">
                                <button class="w-100 mr-auto ml-auto d-block" mat-flat-button color="primary"
                                    (click)="buy()">
                                    Buy Now
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-12">
                    <div class="row content-wrapper-main">
                        <div class="col-xl-8 col-lg-8 mb-4">
                            <div class="row">
                                <div class="col-12">
                                    <div class="content-wrapper-buy">
                                        <div class="row mt-3">
                                            <div class="col-12">
                                                <div class="price-container">
                                                    PRICE: <span
                                                        class="price">{{getCurrencySymbol(currency)}}{{getCurrencyConverted(price)
                                                        |
                                                        number}}/M</span>
                                                </div>
    
                                                <div class="stock-container">
                                                    Current Available Stock: <span class="stock">{{stockAmount}}M</span>
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="row mt-4">
                                            <div class="col-lg-5 col-xl-5 col-md-5">
                                                <mat-form-field class="w-100" appearance="outline">
                                                    <mat-label>Gold Amount</mat-label>
                                                    <input matInput placeholder="Amount to order" [(ngModel)]="amount"
                                                        (ngModelChange)="changed('amount', $event)" type="number">
                                                </mat-form-field>
                                            </div>
    
    
                                            <div class="col-lg-2 col-xl-2 col-md-2 d-lg-block exchange-icon text-center">
                                                <img src="./assets/images/exchange-icon.svg">
                                            </div>
    
                                            <div class="col-lg-5 col-xl-5 col-md-5">
                                                <mat-form-field class="w-100" appearance="outline">
                                                    <mat-label>Total {{currency}} (+{{feesPercentage}}% Fees)</mat-label>
                                                    <input matInput placeholder="Total price in {{currency}}" type="number"
                                                        [(ngModel)]="total" (ngModelChange)="changed('currency', $event)">
                                                </mat-form-field>
                                            </div>
                                        </div>
    
                                        <div class="row">
                                            <div class="col-12">
                                                <mat-form-field class="w-100" appearance="outline">
                                                    <mat-label>RS Name</mat-label>
                                                    <input matInput placeholder="RSN" [(ngModel)]="rsn" type="text">
                                                </mat-form-field>
                                            </div>
                                        </div>
    
                                        <div class="mobile pr-4 pl-4">
                                            <div class="row">
                                                <div class="col-12">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>Gold Amount</mat-label>
                                                        <input matInput placeholder="Amount to order" [(ngModel)]="amount"
                                                            (ngModelChange)="changed('amount', $event)" type="number">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-12">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>Total {{currency}}</mat-label>
                                                        <input matInput placeholder="Total price in {{currency}}"
                                                            type="number" [(ngModel)]="total"
                                                            (ngModelChange)="changed('currency', $event)">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-12">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>RS Name</mat-label>
                                                        <input matInput placeholder="RSN" [(ngModel)]="rsn" type="text">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
    
    
                                        <app-payment-methods [currentPaymentMethod]="selected"
                                            (onSelect)="onSelect($event)">
                                        </app-payment-methods>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4">
                            <div class="content-wrapper-details">
                                <div class="details-title">
                                    ORDER DETAILS
                                </div>
                                <div class="details-description">
                                    {{amount}}M OSRS Gold
                                </div>
                                <div class="details-price">
                                    {{ getCurrencySymbol(currency)}}{{getCurrencyConverted(price) | number}}/M
                                </div>
                                <div class="vertical-spacer">
                                </div>
                                <div class="details-subtotal d-flex">
                                    <div class="w-50">
                                        Sub Total:
                                    </div>
                                    <div class="w-50 text-right">
                                        {{ getCurrencySymbol(currency)}}{{getCurrencyConverted(subtotal) | number}}
                                    </div>
                                </div>
                                <div class="details-fees d-flex">
                                    <div class="w-50">
                                        Fees:
                                    </div>
                                    <div class="w-50 text-right">
                                        {{ getCurrencySymbol(currency)}}{{getCurrencyConverted(fees) | number}}
                                    </div>
                                </div>
                                <div class="details-total-price d-flex">
                                    <div class="w-50">
                                        Total Price:
                                    </div>
                                    <div class="w-50 text-right">
                                        {{ getCurrencySymbol(currency)}}{{getCurrencyConverted(totalInvoice) | number}}
                                    </div>
                                </div>
                                <div class="details-purchase">
                                    <button mat-raised-button type="button" (click)="buy()">
                                        Purchase
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>