.selling-page
    .overlay-2
        height: 200px !important
        margin: -75px 0 0 0 !important
        object-fit: unset
    ::placeholder
        color: white

    :-ms-input-placeholder
        color: white

    ::-ms-input-placeholder
        color: white
    .main-container
        height: 100%
        width: 100%
        min-height: 100vh
        background: #0a101a url(/assets/images/branding/background.png) center center no-repeat
        background-size: cover
        background-repeat: no-repeat
        -webkit-background-size: cover
        -moz-background-size: cover
        -o-background-size: cover
        // background-position-y: 100px
        padding-top: 200px
        padding-bottom: 100px
    .transparent-container
        height: 100%
        width: 100%
        max-width: 400px
        max-height: 561px
        min-height: 561px
        background: transparent url(/assets/images/branding/transparent-container.png) center center no-repeat
        background-size: cover
        background-repeat: no-repeat
        -webkit-background-size: cover
        -moz-background-size: cover
        -o-background-size: cover
        margin-bottom: 10px
    .mat-flat-button.mat-primary
        background: #0a101a
        &:hover
            color: #f6b000 !important
    img
        display: block
        margin: 30px auto 0 auto
        height: 100px
        width: 100%
        object-fit: contain
    .transparent-title
        color: white
        font-size: 16px
        text-align: center
    .transparent-description
        text-align: center
        margin-top: 10px
        font-size: 32px
        color: #f6b000
    .box-buy
        height: 100%
        width: 100%
        max-width: 350px
        min-height: 58px
        background: transparent url(/assets/images/branding/box-buy.png) center center no-repeat
        background-size: contain
        background-repeat: no-repeat
        -webkit-background-size: contain
        -moz-background-size: contain
        -o-background-size: contain
        margin: 0 auto
        input
            background-color: transparent!important
            border-color: transparent!important
            color: #fff!important
            width: 90%
            margin: 20px 15px 0 15px
            text-align: center
            font-size: 20px
    .box-title
        color: white
        font-size: 16px
        text-align: center

    .chevron
        width: 30px
        margin: 0
        align-self: center

    .rounded-box
        height: 100%
        width: 100%
        max-width: 150px
        max-height: 150px
        min-width: 150px
        min-height: 150px
        background: transparent url(/assets/images/branding/rounded-img-sm.png) center center no-repeat
        background-size: contain
        background-repeat: no-repeat
        -webkit-background-size: contain
        -moz-background-size: contain
        -o-background-size: contain
        margin: 0 auto

        img.contactus
            height: 100%
            margin: 0 auto
            display: block
            padding: 30px
        img.handshake
            height: 100%
            margin: 0 auto
            display: block
            padding: 30px
        img.reward
            height: 100%
            margin: 0 auto
            display: block
            padding: 30px
        img.verification
            height: 100%
            margin: 0 auto
            display: block
            padding: 30px

    .title
        font-size: 24px
        color: white
        text-align: center
        text-transform: uppercase
        font-family: 'Century Gothic'
        margin-top: 10px
        font-weight: 700
