<footer class="footer">
  <div class="container-fluid">
    <div class="d-flex flex-row flex-wrap">
      <div class="col-sm-12 col-xs-6 col-md-3 col-lg-3 col-xl-3 text-center text-md-left text-left oyl-6">
        <div class="title">SERVICES</div>
        <div class="description">
          <a [routerLink]="['/buy/oldschool']" target="_blank"> Buy Gold </a>
        </div>
        <div class="description">
          <a [routerLink]="['/sell']" target="_blank"> Sell Gold </a>
        </div>
        <div class="description">
          <a [routerLink]="['/swap']" target="_blank"> Swap Gold </a>
        </div>
        <div class="description">
          <a [routerLink]="['/infernal']" target="_blank"> Infernal Capes </a>
        </div>
      </div>
      <div class="col-sm-12 col-xs-6 col-md-3 col-lg-3 col-xl-3 text-center text-md-left coyl-6">
        <div class="title">Feedback</div>
        <div class="description">
          <a [routerLink]="['/']" target="_blank"> Home </a>
        </div>
        <div class="description">
          <a href="https://www.sythe.org/threads/rsgoldbar-vouches/" target="_blank">
            Sythe Reviews
          </a>
        </div>
        <div class="description">
          <a href="https://www.trustpilot.com/review/RSGoldBar.com" target="_blank">
            Trust Pilot
          </a>
        </div>
        <div class="description">
          <a href="https://discord.gg/rsgoldbar" target="_blank">
            Discord
          </a>
        </div>
      </div>
      <div class="col-sm-12 col-xs-6 col-md-3 col-lg-3 col-xl-3 text-center text-md-left coyl-6">
        <div class="title">About Us</div>
        <div class="description">
          <a href="/terms-of-services" style="cursor: pointer">
            Terms of Services
          </a>
        </div>
        <div class="description">
          <a href="/privacy-policy" style="cursor: pointer"> Privacy Policy </a>
        </div>
      </div>
      <div class="col-sm-12 col-xs-6 col-md-3 col-lg-3 col-xl-3 coyl-6 text-center">
        <div class="title d-flex justify-content-center">
          <div>
            <img style="max-width: 30px; margin-right: 10px" src="./assets/images/branding/logo.png" />
          </div>
          <div class="pt-1">
            <span class="white">RS</span>GOLD<span class="white">BAR</span>
          </div>
        </div>
        <div class="description description-sm flex-row d-flex justify-content-around align-items-center">
          <a href="mailto:rsgoldbarhelp@gmail.com" target="_blank">
            <img width="50px" src="./assets/images/branding/email.png" alt="" />
          </a>
          <a href="https://www.facebook.com/RsGoldBarShop" target="_blank">
            <img width="50px" src="./assets/images/branding/fb.png" alt="" />
          </a>
          <a href="https://discord.com/invite/5Rx5RJf" target="_blank">
            <img style="color: gold" width="50px" src="./assets/images/branding/ds.png" alt="" />
          </a>

          <a href="https://www.instagram.com/rsgoldbar/" target="_blank">
            <img width="50px" src="./assets/images/branding/ig.png" alt="" />
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center description mt-4 mt-md-2">
        <small class="mb-3">Copyright © 2023 <span><a style="color: gold;" href="https://rsgoldbar.com/"
              target="_blank">Rsgoldbar.com.</a></span> All rights
          reserved.</small><br>
        <small>Rsgoldbar is not in any way affiliated with Jagex Ltd.</small>
      </div>
    </div>
  </div>
</footer>