<div class="selling-page">
    <div class="main-container">
        <div class="container-fluid material-ui">
            <div class="row">
                <div class="col-12">
                    <form class="common-form" [formGroup]="forgetForm" (ngSubmit)="forget(forgetForm.value)">
                        <div class="form-title text-center">Forgot Password?</div>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Email" formControlName="email" [errorStateMatcher]="matcher"
                                type="text">
                            <mat-hint>Email is <strong>required</strong></mat-hint>

                            <mat-error *ngIf="forgetForm.controls['email'].hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <button mat-raised-button type="submit" [disabled]="!forgetForm.valid">
                            Reset Password
                        </button>

                        <div class="pt-4">
                            <h4>Remember your password?</h4>
                            <a routerLink="/login" class="link">Go back to login page</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>