<div class="selling-page">
  <div class="main-container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 landing-title">
          WELCOME TO RS<span class="color-gold">GOLD</span>BAR
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12 landing-description">
          <span class="color-gold">Save your time,</span> get everything that
          you need
        </div>
      </div>
      <div class="row">
        <div class="offset-lg-2 col-lg-4 col-xl-4 col-md-4">
          <div class="transparent-container ml-auto mr-auto">
            <div class="row">
              <div class="col-12">
                <img src="./assets/images/branding/logo-osrs.png" />
              </div>
            </div>
            <div class="row">
              <div class="col-12 transparent-title">
                WE’RE CURRENTLY <span class="color-gold">BUYING GOLD</span> FOR
              </div>
            </div>
            <div class="row">
              <div class="col-12 transparent-description">
                {{ getCurrencySymbol(currency)
                }}{{ getCurrencyConverted(osrsBuying) | number }}
              </div>
            </div>
            <!-- <div class="row mt-4">
              <div class="col-12 box-title">Amount You’d Wish To Sell:</div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="box-buy">
                  <input matInput [(ngModel)]="amount1" type="number" />
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12 box-title">Enter Character Name:</div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="box-buy">
                  <input matInput [(ngModel)]="rsn1" type="text" />
                </div>
              </div>
            </div> -->
            <div class="row">
              <div class="col-12">
                <div class="p-4">
                  <button
                    class="w-100 mr-auto ml-auto d-block"
                    mat-flat-button
                    color="primary"
                    (click)="openLiveChat(disabled1(), 'OSRS', amount1)"
                  >
                    Sell Now
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-xl-4 col-md-4">
          <div class="transparent-container ml-auto mr-auto">
            <div class="row">
              <div class="col-12">
                <img src="./assets/images/branding/logo-rs3.png" />
              </div>
            </div>
            <div class="row">
              <div class="col-12 transparent-title">
                WE’RE CURRENTLY <span class="color-gold">BUYING GOLD</span> FOR
              </div>
            </div>
            <div class="row">
              <div class="col-12 transparent-description">
                {{ getCurrencySymbol(currency)
                }}{{ getCurrencyConverted(rs3Buying) | number }}
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-12 box-title">Amount You’d Wish To Sell:</div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="box-buy">
                  <input matInput [(ngModel)]="amount2" type="number" />
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12 box-title">Enter Character Name:</div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="box-buy">
                  <input matInput [(ngModel)]="rsn2" type="text" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="p-4">
                  <button
                    class="w-100 mr-auto ml-auto d-block"
                    mat-flat-button
                    color="primary"
                    (click)="openLiveChat(disabled2(), 'RS3', amount2)"
                  >
                    Sell Now
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="second-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-xl-4 col-md-6">
        <div class="row">
          <div class="col-12">
            <div class="rounded-box">
              <img
                class="coins-sell"
                src="./assets/images/branding/coins-sell.png"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 title">
            selling runescape <span class="color-gold">gold</span>
          </div>
        </div>
        <div class="row">
          <div class="col-12 description">
            Buying runescape gold from us is simple, once you decide how much
            you want to buy and through which payment method, just message a
            live chat agent who will be always there to satisfy your needs or
            you can place your order automatically using
            <span class="color-gold">cryptocurrencies</span> or any other
            payment method.
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-xl-4 col-md-6">
        <div class="row">
          <div class="col-12">
            <div class="rounded-box">
              <img
                class="coins-buy"
                src="./assets/images/branding/coins-buy.png"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 title">
            BUYING runescape <span class="color-gold">gold</span>
          </div>
        </div>
        <div class="row">
          <div class="col-12 description">
            With years of experience our team is offering you the best
            <span class="color-gold">runescape 3 & oldschool runescape</span>
            gold rates! Just chose with one runescape gold you want to sell and
            contact us. If you have any question feel free to ask our live chat
            agent!
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-xl-4 col-md-6">
        <div class="row">
          <div class="col-12">
            <div class="rounded-box">
              <img
                class="coins-swap"
                src="./assets/images/branding/coins-swap.png"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 title">
            runescape <span class="color-gold">gold</span> SWAPPING
          </div>
        </div>
        <div class="row">
          <div class="col-12 description">
            Our team is always ready to swap your gold “both ways” at the best
            rate possible, just go to
            <span class="color-gold">“Swap Gold”</span> and enter the quanity!
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-xl-4 col-md-6">
        <div class="row">
          <div class="col-12">
            <div class="rounded-box">
              <img
                class="account-rental"
                src="./assets/images/branding/infernal-logo.png"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 title">
            INFERNAL <span class="color-gold">Services</span>
          </div>
        </div>
        <div class="row">
          <div class="col-12 description">
            All our employees are experienced runescape players so we will
            guarantee the
            <span class="color-gold">professional and safe service</span>.
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-xl-4 col-md-6">
        <div class="row">
          <div class="col-12">
            <div class="rounded-box">
              <img
                class="rsgoldbar-team"
                src="./assets/images/branding/rsgoldbar-team.png"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 title">
            RS<span class="color-gold">GOLD</span>BAR TEAM
          </div>
        </div>

        <div class="row">
          <div class="col-12 description">
            We have over
            <span class="color-gold">2 years of experience</span> which we apply
            in various situations. There are no unresolved things with us! Our
            live chat agents is ready to help you
            <span class="color-gold">24/7</span>!
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-xl-4 col-md-6">
        <div class="row">
          <div class="col-12">
            <div class="rounded-box">
              <img
                class="crypto-logo"
                src="./assets/images/branding/crypto-logo.png"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 title">
            <span class="color-gold">CRYPTO</span>CURRENCIES
          </div>
        </div>
        <div class="row">
          <div class="col-12 description">
            We are looking to buy any
            <span class="color-gold">cryptocurrency</span> for any of our
            available payment methods. Contact us for more information
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="trustpilot-container">
  <div class="container-fluid">
    <div class="d-flex flex-row flex-wrap justify-content-between">
      <div class="p-2 review-text text-center">
        <div class="p-2">
          <h2 class="title">
            WRITE A <span class="color-gold">REVIEW</span> AFTER A SUCCESFUL
            TRADE!
          </h2>
          <p class="description color-gold">
            <span class="color-gold">
              Your opinion is very important to us.</span
            >
          </p>
          <p class="description">
            By leaving your feedback, you help us to continue to improve.<br />We
            want to provide our customers with security, good price and fast
            services.
          </p>
          <p class="description">
            <span class="color-gold">Thank you for choosing us!</span>
          </p>
        </div>
        <!-- <img src="./assets/images/branding/trustpilot.png" alt="" /> -->
      </div>
      <div class="p-2 text-center reviews-container">
        <h2><span class="color-gold">Trustpilot</span> Reviews</h2>
        <p class="average-review">
          <img src="./assets/images/branding/stars-4.5.svg" alt="" />4.5
        </p>

        <!-- trustpilot reviews -->
        <div class="d-none"><app-trustpilot-reviews></app-trustpilot-reviews></div>
        <app-trustpilot-reviews-mobile></app-trustpilot-reviews-mobile>
      </div>
    </div>
  </div>
</div>
<div class="fourth-container">
  <h2 class="title">FREQUENTLY ASKED QUESTIONS</h2>
  <!-- <div class="faq-content">
    <h3 class="title title-md">How to buy Runescape Gold?</h3>
    <ol class="description">
      <li>
        <span class="color-gold">1.</span> Enter the amount of gold you would
        like to purchase.
      </li>
      <li>
        <span class="color-gold">2.</span> Complete the payment. (Crypto, bank
        transfer, skrill, etc.)
      </li>
      <li>
        <span class="color-gold">3.</span>
        After successful payment you will be directed to Live Chat for details.
      </li>
      <li>
        <span class="color-gold">4.</span> Meet us in-game for a face-to-face
        trade.
      </li>
      <li><span class="color-gold">5.</span> Enjoy your gold!</li>
    </ol>
  </div> -->


  <div class="expansion-container">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            What is the least amount of RS GOLD we buy & sell?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          RS3 MIN AMOUNT IS 100M </p>
        <p>
          OSRS MIN AMOUNT IS 10M</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>How to buy runescape gold?</mat-panel-title>
        </mat-expansion-panel-header>
        <p><span class="text-white">1. </span>Enter the amount of gold you would like to purchase. </p>
        <p><span class="text-white">2. </span>Complete the payment. (Crypto, bank transfer, skrill, etc.) </p>
        <p><span class="text-white">3. </span>After successful payment you will be directed to Live Chat for details. </p>
        <p><span class="text-white">4. </span>Meet us in-game for a face-to-face trade. </p>
        <p><span class="text-white">5. </span>Enjoy your gold! </p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Is RSGOLDBAR a trustworthy shop? </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Absolutely yes! We have over 3Years of experience and we have over 1000+ Positive feedback in diferent platforms.<br />
          We always use only high-level accounts to trade customers which provides an additional layer of safety for your account.<br />
        </p>
        
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> What payment methods Rsgoldbar have?</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
        <span class="text-white">1. </span> currencies (BTC,ETH,LTC,USDT.)<br />
        <span class="text-white">2. </span> Klarna.<br />
        <span class="text-white">3. </span> Trustly (Different internet banks in each country) <br />
        <span class="text-white">4. </span> Skrill.<br />
        <span class="text-white">5. </span> Revolut.<br/>
        <span class="text-white">6. </span> Transwerwise.<br/>
        <span class="text-white">7. </span> Paypal.<br/>
        <span class="text-white">8. </span> Sepa (EU Bank Transfer.)<br/>
        <span class="text-white">9. </span> iDEAL.<br/>
        <span class="text-white">10. </span> Przelewy24<br/>
        <span class="text-white">11. </span> Bancontact</p>
       
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> How do I find out the payments FEE? </mat-panel-title>
        </mat-expansion-panel-header>
        <p><span class="text-gold">1. </span> <span class="text-white">(Selling Currency to us.)</span><br />
          If you want to sell RS currency to us, we pay the full fee.<br/>
          <span class="text-gold">2. </span> <span class="text-white">(Buying Currency from us.)</span><br />
          Each payment has a different fee, if you enter the amount of RS currency you want to buy you will see the FEE for each payment in the 'FEES (+%)' section.
        </p>
      </mat-expansion-panel>
      
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Can I sell gold here? </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Yes, We always buying RS gold.<br />
          Just go to 'Sell GOld' page, enter amount you'd wish to sell, Enter Character Name and click Sell now.<br/>
          Our livechat agent working 24/7 so it will help you to statisfy your needs.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> What other services do you provide? </mat-panel-title>
        </mat-expansion-panel-header>
        <p>We also swaping runescape currency both ways, taking infernal capes and offering all runescape services<br />
          with you can find at our discord server: <a href="https://discord.com/invite/rsgoldbar" class="text-white">rsgoldbar</a>
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Why should you choose us? </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Many sellers claim to offer the best gold prices on the market, but this is not the case.<br />
          Our team always checks competitors' prices and ensures the best prices on the market.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> How long does it take to BUY or SELL RS gold? </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Usually it takes around 1-3 minutes.<br />
          It depends on the method of payment.<br/>
          As soon as we receive confirmation of payment, we hand over the gold to the customer immediately.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> How to contact Rsgoldbar support? </mat-panel-title>
        </mat-expansion-panel-header>
        <p>You can always reach us via LIVECHAT in the right hand corner.<br />
          Via discord server: <a href="https://discord.com/invite/rsgoldbar" class="text-white">rsgoldbar</a><br/>
          Via skype: <a href="skype:live:.cid.f6f4f53282b5b00f?chat" class="text-white">rsgoldbar</a><br/>
          Remember that we are never the first to find you.<br/>
          When communicating via other platforms, always make sure you are communicating with us by sending us a message to LIVECHAT.
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<div class="third-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 text-center">
        <img src="./assets/images/footer/sepa.png" />
        <img src="./assets/images/footer/crypto.png" />
        <img src="./assets/images/footer/swedbank.png" />
        <img src="./assets/images/footer/seb.png" />
        <img src="./assets/images/footer/paysera.png" />
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 text-center">
        <img src="./assets/images/footer/paypal.png" />
        <img src="./assets/images/footer/skrill.png" />
        <img src="./assets/images/footer/neteller.png" />
      </div>
    </div>
  </div>
</div>
