<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>Terms and Conditions</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p>
                RSGoldBar.com is owned and regulated by MMO GAMES company registered at Girulių g. 10-201, LT-12112
                Vilnius
                RSGoldBar.com provides a platform for sales and purchase runescape gold.
            </p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <h3>Disclaimer</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p>RSGoldBar is not endorsed, sponsored, or affiliated with Jagex LTD© or Runescape©.<br> By creating an
                account, you are agreeing to our Terms of Services.
            </p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <h3>Goods delivery on RSGoldBar.com</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p>Receive payment from us immediately after sold on RSGoldBar.com<br>
                All goods we sell are virtual goods and all sales ar final.<br> Company does not have returning policy
                regarding all sales are final.</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <h3>Goods sold on RSGoldBar.com</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>RSGoldBar.com sells only virtual goods, no other physical goods are sold.</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <h3>Account</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Using our Services may require you to create an account.<br> If you choose, or are provided with, a user
                name, password, or any other piece of information as part of our security procedures, you must treat
                such information as confidential, and you must not disclose it to any other person or entity.<br> You
                also
                acknowledge that your account is personal to you and agree not to provide any other person with access
                to this Website or portions of it using your user name, password, or other security information.<br> You
                agree to notify us immediately of any unauthorized access to or use of your user name or password or any
                other breach of security.<br> You also agree to ensure that you exit from your account at the end of
                each
                session.<br>
                You should use particular caution when accessing your account from a public or shared computer so that
                others are not able to view or record your password or other personal information.</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <h3>Additional Information</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p>You might be requiested additionl personal information to verify your idetify and prove ownership of
                Mastercards/Visa/Paypal account or payment card used to purchase goods.
            </p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <h3>Payment & Fees</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p>RSGoldBar charges fees for items sold via the Services.<br> When you list an item, you have an
                opportunity to
                review and
                accept the fees that you will be charged.<br>
                When selling or buying goods on the Website, you must have a payment method on file and pay all fees.
            </p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <h3>Copyright</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p>The Company name, the Company logo, and all related names, logos, product and service names, designs, and
                slogans are
                trademarks of the Company or its affiliates or licensors.<br> You must not use such marks without the
                prior
                written
                permission of the Company.<br>
                All other names, logos, product and service names, designs, and slogans on this Website are the
                trademarks of their
                respective owners.</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <h3>Refund policy</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p>Any purchases that are done on the RSGoldBar.com website are final and non-refundable. If a payment is
                done with
                Mastercard, Visacard or American Express and no identification documents are provided, we will refund
                the order, which
                can take several days depending on the payment method.</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <h3>Entire Agreement</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p>The Terms of Use and our Privacy Policy constitute the sole and entire agreement between you and the
                Company regarding
                the Website and supersede all prior and contemporaneous understandings, agreements, representations, and
                warranties,
                both written and oral, regarding the Website.</p>
        </div>
    </div>
</div>