<div class="selling-page">
    <div class="main-container">
        <div class="container-fluid material-ui">
            <div class="row">
                <div class="col-12">
                    <form class="common-form" [formGroup]="changePasswordForm"
                        (ngSubmit)="change(changePasswordForm.value)">
                        <div class="form-title text-center">Change Password</div>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Current password" formControlName="current_password"
                                [errorStateMatcher]="matcher" type="password">
                            <mat-hint>Current password is <strong>required</strong></mat-hint>

                            <mat-error *ngIf="changePasswordForm.controls['current_password'].hasError('required')">
                                Current password is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <input matInput placeholder="New password" formControlName="new_password"
                                [errorStateMatcher]="matcher" type="password">
                            <mat-hint>New password is <strong>required</strong></mat-hint>

                            <mat-error *ngIf="changePasswordForm.controls['new_password'].hasError('required')">
                                New password is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Confirm new password" formControlName="confirm_new_password"
                                [errorStateMatcher]="matcher" type="password">
                            <mat-hint>Confirm new password is <strong>required</strong></mat-hint>

                            <mat-error *ngIf="changePasswordForm.controls['confirm_new_password'].hasError('required')">
                                Confirm new password is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <button mat-raised-button type="submit" [disabled]="!changePasswordForm.valid">
                            Change Password
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>